@color-base: #367cbf;
@color-green: #5bbf73;

body
{
	background: @color-base;
	font-family: "Exo 2", "PT Sans", "Open Sans", Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	padding: 15px 0;
}

#tabr-container
{
	&.active
	{
		.grid-stack
		{
			background-color: rgba(255, 255, 255, 0.15);
			border: 1px dashed rgba(255, 255, 255, 0.5);
		}
	}
	.grid-stack
	{
		background-color: transparent;
		border: 1px solid transparent;
	}
}

#tabr-manage
{
	background: fade(@color-base, 60%);
	border-bottom-left-radius: 4px;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.tabr-block
{
	background-color: @color-green;
	border-radius: 1px;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.tabr-header
{
	background: rgba(255, 255, 255, 0.9);
	padding: 1px 4px;
}